body {
  background-color: #2B2A33;
  color: snow;
  font-family: "Josefin Sans", "Roboto", sans-serif;
}

.btn{
	border: none;
}

.btn-outline-primary  {
  margin-right: 50px;
}

.card {
  display: inline-block;
  color:#2B2A33;
}

.card-body {
  background-color: #7C90A0;
}

/* a:visited {
  color: #BB0A21;
} */

td {
  color: snow;
}

tr {
  color: snow;
}

hr {
  color: snow;
}

#contacts {
  padding: 200;
}

/* 
  Remaining colors

  #7C90A0
  #F9E0D9
  #BB0A21  -- clicked links
  #2B2A33

*/