body {
  background-color: #32292f;
  color: snow;
  font-family: "Josefin Sans", "Roboto", sans-serif;
}

a:link {
  color: salmon;
}

a:visited {
  color: #BB0A21;
}

td {
  color: snow;
}

tr {
  color: snow;
}

hr {
  color: snow;
}

/* 
  Remaining colors

  #7C90A0
  #F9E0D9
  #BB0A21  -- clicked links

*/